h1 {
  background-image: url(pattern.jpeg);
  font-size: 100px;
  color: khaki;
  font-family: Helvetica;
  text-align: center;
}

h2 {
  font-family: Helvetica, sans-serif;
  color: white;
}

.green {
  background-color: mediumspringgreen;
}