body {
  font-family: Helvetica;
}

h1 {
  background-image: url(pattern.jpeg);
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h2 {
  color: white;
}

.green {
  background-color: mediumspringgreen;
}

.coral {
  background-color: coral;
}

.sky {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}